@import "./main";

.base{
    .dark-theme-navbar{
        background-color: rgb(23,25,28) !important;
        box-shadow: -2px 3px 30px -20px black !important;
        -webkit-box-shadow: -2px 3px 30px -20px black !important;
        -moz-box-shadow: -2px 3px 30px -20px black!important;
        #responsive-navbar-nav{
            color:white !important;
        }
        .logo{
            color:rgb(207, 207, 207) !important;
        }
        .nav-ele{
            color:rgb(207, 207, 207) !important;
            &:hover{
                color:rgb(129, 129, 129) !important;
            }
        }
    }
    .navbar{
        transition:0.2s;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        font-family: 'Merriweather', serif;
        margin:20px;
        box-shadow: -2px 3px 30px -20px rgba(0,0,0,0.75);
        -webkit-box-shadow: -2px 3px 30px -20px rgba(0,0,0,0.75);
        -moz-box-shadow: -2px 3px 30px -20px rgba(0,0,0,0.75);
    
        .logo{
            margin-left: 20px;
        }
    
        .nav-ele{
            margin:0 15px;
            transition: 0.3s;
            border-radius: 20px;
            color:rgb(0, 0, 0);
            &:hover{
                color:rgb(19, 19, 19);
            }
        }

        @media (min-width:320px) and (max-width: 480px) {
            margin:0;
            border-radius: 0;
        }
    }

    .top-right-circle{
        z-index: -1;
        width:10%;
        height:20%;
        border-bottom-left-radius: 100%;
        background-color: #6c63ff;
        position:fixed;
        top:0;
        left:90%;
        display: block;
    }
    
    .top-left-circle{
        z-index: -1;
        width:10%;
        height:20%;
        border-bottom-right-radius: 100%;
        background-color: #6c63ff;
        position: fixed;
        top:0;
        left:0;
        display: block;
    }
}

@media (min-width:320px) and (max-width: 700px) {
    .base{
        .top-left-circle{
            display: none;
        }
        .top-right-circle{
            display: none;
        }
    }
}