@import "./main";

.card-column{
    column-gap: 50px;
    display: block;
    justify-content: center;
    margin-top: 50px;
}

@media (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max){
    .card-column{
        column-count: 1;
    }
}

@media (min-width: $breakpoint-tab-min) and (max-width: $breakpoint-tab-max){
    .card-column{
        column-count: 2;
    }
}

@media (min-width: $breakpoint-smallPC-min) and (max-width: $breakpoint-smallPC-max){
    .card-column{
        column-count: 3;
    }
}

@media (min-width: $breakpoint-largePC-min) and (max-width: $breakpoint-largePC-max){
    .card-column{
        column-count: 4;
    }
}