@import "./main";

.create-post{
    font-family: 'Merriweather', serif;

    .form-label-dark{
        color:rgb(255, 255, 255) !important;
    }

    .form-label-light{
        color:black !important;
    }
    
    .button{
        background-color: white !important;
        border-color:#6c63ff !important;
        color: #6c63ff !important;
        &:hover{
            background-color: #6c63ff !important;
            color:white !important;
        }
    }
}

@media (min-width:320px) and (max-width: 700px) {
    .create-post{
        .create-post-contents{
            font-size: small;
            margin-top: 5%;
            .view-image{
                width:100%;
            }
        }
    }
}