@import "./main";

.home{
    font-family: 'Merriweather', serif;

    .home-page-content{
        width:50%;
        position: relative;
        float: left;
        padding:10% 5%;

        .toggle-theme-button{
            position:absolute;
            bottom:40px;
            left:30px;
            background-color: transparent;
            border:0;
            .theme-icon{
                color:white;
                font-size: x-large;
            }
        }

        .github-icon{
            transition:0.2s;
            &:hover{
                transform: translateY(-3px);
            }
        }

        .button{
            background-color: white !important;
            border-color:#6c63ff !important;
            color: #6c63ff !important;

            &:hover{
                background-color: #6c63ff !important;
                color:white !important;
            }
        }
    }

    .home-page-svg{
        width:45%;
        position: relative;
        float:right;
        padding:8% 10% 0 0;
    }

    .footer{
        transition:0.2s;
        background-color: white;
        width: 100%;
        height:auto;
        box-shadow: -1px -1px 20px -10px rgba(0,0,0,0.72);
        -webkit-box-shadow: -1px -1px 20px -10px rgba(0,0,0,0.72);
        -moz-box-shadow: -1px -1px 20px -10px rgba(0,0,0,0.72);
        position: fixed;
        bottom:0;
        left:0;

        .toggle-theme-button{
            position:absolute;
            left:50%;
            top:20%;
            background-color: transparent;
            border:0;
            
            .theme-icon{
                color:white;
                font-size: x-large;
            }
        }

        h5{
            margin:20px 10%;
        }

        .icons{
            color:rgb(31, 31, 31);
            margin:10px;
        }
    }

    .dark-theme-footer{
        background-color: rgb(23,25,28) !important;
        color:white !important;

        .icons{
            color: white !important;
        }
    }
}

@media (min-width:320px) and (max-width:900px){
    .home{
        .home-page-content{
            width:100%;
            position: relative;
            float: left;
            padding:10%;
            text-align:center;
            h1{
                font-size: x-large;
            }
            h4{
                font-size: large;
            }
        }

        .home-page-svg{
            width:100%;
            padding:40px 30%;
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .footer{
            .toggle-theme-button{
                position:relative;
                float: left;
                margin-top:10px;
                margin-left: -20px;
            }

            h5{
                width:100%;
                text-align: center;
                margin:10px 0;
                font-size: large;
            }
        }
    }
}