@import "./main";

.profile{
    font-family: 'Merriweather', serif;

    .detail-block{
        margin-top:50px;

        .profile-pic{
            margin-top: -20px;
            width:150px;
            border:0;
            border-radius: 50%;
            position: relative;
            float:left;
        }

        .user-detail{
            margin-top: 10px;
        }

        #username{
            color:gray;
        }
    }

    .post-card-div{
        margin-bottom:20px;
    }
}

@media (min-width:320px) and (max-width: 700px) {
    .profile{
        .detail-block{
            font-size: small;
            .profile-pic{
                width:80px;
                margin-left:20%;
                border-radius: 50%;
                height:80px;
            }
            #description::before {
                content: "\A\A\A\A";
                white-space: pre-line;
            }
        }
    }
}