@import "./main";

.update-post{
    font-family: 'Merriweather', serif;
    
    .button{
        background-color: white !important;
        border-color:#6c63ff !important;
        color: #6c63ff !important;
        margin:10px;
        &:hover{
            background-color: #6c63ff !important;
            color:white !important;
        }
    }

    .danger-button{
        margin:10px;

        .cancel-button-link{
            color:red;
            text-decoration: none;
            transition:0.2s;
        }

        &:hover{
            .cancel-button-link{
                color:white;
            }
        }
    }

    .view-image{
        width:500px;
        border-radius: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width:320px) and (max-width: 700px) {
    .update-post{

        .update-post-contents{
            font-size: small;
            margin-top: 5%;
            
            .view-image{
                width:100%;
            }
        }
    }
}